{%- assign divider = divider | default: '•' -%}
{%- assign has_divider = has_divider | default: true -%}
{%- assign breadcrumbs_modifier = breadcrumbs_modifier | default: '' -%}

{%- if has_divider -%}
	{%- capture divider_html -%}
		<span class="breadcrumbs__divider">{{ divider }}</span>
	{%- endcapture -%}
{%- endif -%}

<nav class="breadcrumbs {{ breadcrumbs_modifier }}" aria-label="Breadcrumb">
	<a href="/">
		{{ 'general.breadcrumbs.home' | t }}
	</a>

	{%- if template.name == "product" -%}

		{%- if collection -%}
			{%- if collection.handle -%}
				{{ divider_html }}
				{{ collection.title | link_to: collection.url }}
			{%- endif -%}
		{%- endif -%}
	{%- elsif template.name == "article" -%}
		{{ divider_html }}

		{{ blog.title | link_to: blog.url }}
	{%- endif -%}

	{{ divider_html }}

	<span class="current">
		{{- page_title -}}
	</span>
</nav><!-- /.breadcrumbs -->

{%- assign divider = '' -%}
{%- assign divider_html = '' -%}
{%- assign has_divider = '' -%}
