<div class="cart-item {{ modifier }}" data-lineid="{{ line_item.id }}" >
  <div class="cart-item__container">
    <div class="cart-item__image" style="background-image: url({{ line_item | img_url: '200x' }})" role="img" aria-label="{{ line_item.alt }}">
      <a href="{{- line_item.url -}}"></a>
    </div><!-- /.cart-item__image -->

    <div class="cart-item__content">
      <a href="{{ line_item.variant_id }}" class="btn-close cart-item__remove js-cart-remove"></a>

      <strong class="cart-item__title">
        <a href="{{- line_item.url -}}">
          {{- line_item.product.title -}}
        </a>
      </strong>

      <div class="cart-item__row">
        <span>{{ line_item.variant.title }}</span>
      </div><!-- /.cart-item__row -->

      <div class="cart-item__row">
        <span>{{ line_item.quantity }}</span> x <span class="aa ws-item-price-{{line_item.key|replace:':','_'}}">{{- line_item.price | money -}}</span>
      </div><!-- /.cart-item__row -->
      
      <div class="qty qty--primary product-inline__qty js-qty ">
        <div class="qty__inner" data-id="{{line_item.variant_id}}">
          <span class="qty__btn qty__btn--minus js-qty-mini" tabindex="0" role="button">-</span>
          <label class="sr-only" for="field-quantity-{{ line_item.product.handle }}">Quantity</label>
          <input type="number" {% comment %}onblur="this.form.submit();"{% endcomment %} class="field-quantity qty__field" id="field-quantity-{{ line_item.product.handle }}"  name="quantity" value="{{ line_item.quantity }}" min="1">
          <span class="qty__btn qty__btn--plus js-qty-mini" tabindex="0" role="button">+</span>
        </div><!-- /.qty__inner --> 
      </div><!-- /.qty -->
    </div><!-- /.cart-item__content -->
  </div><!-- /.cart-item__container -->
</div><!-- /.cart-item -->
