{%- assign select_options = select_options | default: '' -%}

<div class="form form--contacts">
	{% form 'contact' %}
		{%- assign attr_select = 'contact.form.select' | t | handle -%}
		{%- assign attr_name = 'contact.form.name' | t | handle -%}

		{%- if form.errors -%}
			<div class="form__message form__message--error">
				{{- form.errors | default_errors -}}
			</div><!-- /.form-notice -->
		{%- endif -%}

		{%- if form.posted_successfully? -%}
			<div class="form__message form__message--success">
				{{- 'contact.form.post_success' | t -}}
			</div><!-- /.form-alert -->
		{%- endif -%}

		<div class="form__body">
			{%- if select_options != blank -%}
				<div class="form__row">
					<label for="select-contact-top" class="form__label">{{ 'contact.form.select' | t }}</label>

					<div class="select select--large">
						<select name="contact[{{ attr_select }}]" id="select-contact-top">
							{%- render 'select-textarea' selector: select_options -%}
						</select>
					</div><!-- /.select -->
				</div><!-- /.form__row -->
			{%- endif -%}

			<div class="form__row">
				<label for="field-contact-name" class="form__label">{{ 'contact.form.name' | t }}</label>

				<input type="text" id="field-contact-name" class="field" name="contact[{{ attr_name }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{{ customer.name | default: form[attr_name] }}">
			</div><!-- /.form__row -->

			<div class="form__row">
				<label for="field-contact-email" class="form__label">{{ 'contact.form.email' | t }}</label>

				<input type="email" id="field-contact-email" class="field" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{{ customer.email | default: form.email }}" required>
			</div><!-- /.form__row -->

			<div class="form__row">
				<label for="field-contact-message" class="form__label">{{ 'contact.form.message' | t }}</label>

				<textarea rows="10" id="field-contact-message" class="field textarea textarea--large" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}" required>{{ form.body }}</textarea>
			</div><!-- /.form-row -->
		</div><!-- /.form__body -->

		<div class="form__actions">
			<ul>
				<li>
					<button type="submit" class="form__btn btn btn--blue btn--inverse btn--small btn--form">
						{{- 'contact.form.submit' | t -}}
					</button>
				</li>
			</ul>
		</div><!-- /.form-actions -->
{% endform %}
</div><!-- /.form -->
