<div class="form__row">
	<label for="field-first-name-{{ address.id }}" class="form__label" >
		{{- 'customer.addresses.first_name' | t -}}
	</label>

	<div class="form__controls">
		<input type="text" id="field-first-name-{{ address.id }}" class="field" name="address[first_name]" value="{{ form.first_name }}" autocapitalize="words" placeholder="{{ 'customer.addresses.first_name' | t }}" />
	</div><!-- /.form__controls -->
</div><!-- /.form__row -->

<div class="form__row">
	<label for="field-last-name-{{ address.id }}" class="form__label" >
		{{- 'customer.addresses.last_name' | t -}}
	</label>

	<div class="form__controls">
		<input type="text" id="field-last-name-{{ address.id }}" class="field" name="address[last_name]" value="{{ form.last_name }}" autocapitalize="words" placeholder="{{ 'customer.addresses.last_name' | t }}" />
	</div><!-- /.form__controls -->
</div><!-- /.form__row -->

<div class="form__row field__row--company">
	<label for="field-company-{{ address.id }}" class="form__label" >
		{{- 'customer.addresses.company' | t -}}
	</label>

	<div class="form__controls">
		<input type="text" id="field-company-{{ address.id }}" class="field" name="address[company]" value="{{ form.company }}" autocapitalize="words" placeholder="{{ 'customer.addresses.company' | t }}" />
	</div><!-- /.form__controls -->
</div><!-- /.form__row -->

<div class="form__row field__row--address1">
	<label for="field-address-{{ address.id }}" class="form__label" >
		{{- 'customer.addresses.address1' | t -}}
	</label>

	<div class="form__controls">
		<input type="text" id="field-address-{{ address.id }}" class="field" name="address[address1]" value="{{ form.address1 }}" autocapitalize="words" placeholder="{{ 'customer.addresses.address1' | t }}" />
	</div><!-- /.form__controls -->
</div><!-- /.form__row -->

<div class="form__row field__row--address2">
	<label for="field-address2-{{ address.id }}" class="form__label" >
		{{- 'customer.addresses.address2' | t -}}
	</label>

	<div class="form__controls">
		<input type="text" id="field-address2-{{ address.id }}" class="field" name="address[address2]" value="{{ form.address2 }}" autocapitalize="words" placeholder="{{ 'customer.addresses.address2' | t }}" />
	</div><!-- /.form__controls -->
</div><!-- /.form__row -->

<div class="form__row field__row--city">
	<label for="field-city-{{ address.id }}" class="form__label" >
		{{- 'customer.addresses.city' | t -}}
	</label>

	<div class="form__controls">
		<input type="text" id="field-city-{{ address.id }}" class="field" name="address[city]" value="{{ form.city }}" autocapitalize="words" placeholder="{{ 'customer.addresses.city' | t }}" />
	</div><!-- /.form__controls -->
</div><!-- /.form__row -->

<div class="form__row field__row--country field-select">
	<label for="field-country-{{ address.id }}" class="form__label" >
		{{- 'customer.addresses.country' | t -}}
	</label>

	<div class="form__controls">
		<div class="select">
			<select id="field-country-{{ address.id }}" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
		</div><!-- /.select -->
	</div><!-- /.form__controls -->
</div><!-- /.form__row -->

<div id="form__row-province-{{ address.id }}" id="province-{{address.id}}" class="form__row field__row--province field-select" style="display: none;">
	<label for="field-province-{{ address.id }}" class="form__label" >
		{{- 'customer.addresses.province' | t -}}
	</label>

	<div class="form__controls">
		<div class="select">
			<select id="field-province-{{ address.id }}" name="address[province]" data-default="{{ form.province }}"></select>
		</div><!-- /.select -->
	</div><!-- /.form__controls -->
</div><!-- /.form__row -->

<div class="form__row field__row--zip">
	<label for="field-zip-{{ address.id }}" class="form__label" >
		{{- 'customer.addresses.zip' | t -}}
	</label>

	<div class="form__controls">
		<input type="text" id="field-zip-{{ address.id }}" class="field" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" placeholder="{{ 'customer.addresses.zip' | t }}" />
	</div><!-- /.form__controls -->
</div><!-- /.form__row -->

<div class="form__row field__row--phone">
	<label for="field-phone-{{ address.id }}" class="form__label" >
		{{- 'customer.addresses.phone' | t -}}
	</label>

	<div class="form__controls">
		<input type="tel" id="field-phone-{{ address.id }}" class="field" name="address[phone]" value="{{ form.phone }}" placeholder="{{ 'customer.addresses.phone' | t }}" />
	</div><!-- /.form__controls -->
</div><!-- /.form__row -->

{%- unless address.id == customer.default_address.id -%}
	<div class="form__row form__row--default">
		<div class="checkbox form__checkbox">
			{{- form.set_as_default_checkbox -}}

			<label for="address_default_address_{{address.id | default: 'new'}}" class="inline">
				{{- 'customer.addresses.set_default' | t -}}
			</label>
		</div><!-- /.checkbox -->
	</div><!-- /.form__row -->
{%- endunless -%}

{%- assign index = '' -%}
