{%- capture socials_list -%}
social_facebook_link|Facebook,
social_twitter_link|Twitter,
social_pinterest_link|Pinterest,
social_instagram_link|Instagram,
social_tumblr_link|Tumblr,
social_snapchat_link|Snapchat,
social_youtube_link|Youtube,
social_vimeo_link|Vimeo
{%- endcapture -%}
{%- assign socials_list = socials_list | strip_newlines | split: ',' -%}
{%- assign socials_html = '' -%}

{%- for socialLink in socials_list -%}
  {%- assign social_link_array = socialLink | split: '|' -%}

  {% if settings[social_link_array.first] != blank %}
    {%- capture socials_html -%}
      {{ socials_html }}

      <li>
        <a href="{{ settings[social_link_array.first] | escape }}" title="{{ 'layout.socials.social_platform' | t: name: shop.name, platform: social_link_array.last }}" target="_blank">
          {%- assign social_link_array_last_handle = social_link_array.last | handle -%}
          <i class="ico-{{ social_link_array_last_handle }}" aria-hidden="true">
            {%- render 'svg-elements' name: social_link_array_last_handle -%}
          </i>
        </a>
      </li>
    {%- endcapture -%}
  {% endif %}
{%- endfor -%}

{%- if socials_html != '' -%}
  <div class="socials {{ socials_modifier }}">
    <ul>
      {{ socials_html }}
      <li>
        {% render 'ada-icon' %}
      </li>
    </ul>
  </div><!-- /.socials -->
{%- endif -%}
