<div class="form form--triangles form--activate form--xsmall">
	{%- form 'activate_customer_password' -%}
		{%- assign error_class = 'form__row--error' | prepend: ' ' -%}
		{%- capture error_password -%}{%- if form.errors contains 'form' -%}{{- error_class -}}{%- endif -%}{%- endcapture -%}

		<div class="form__triangles">
			<div class="shell">
				<div class="form__holder">
					<div class="form__head">
						<h1 class="h2 form__title">
							<span>
								{{- 'customer.activate_account.title' | t -}}
							</span>
						</h1><!-- /.form__title -->
					</div><!-- /.form__head -->

					<div class="form__description entry">
						<p>
							{{- 'customer.activate_account.subtext' | t -}}
						</p>
					</div><!-- /.form__description -->
				</div><!-- /.form__holder -->
			</div><!-- /.shell -->
		</div><!-- /.form__triangles -->

		<div class="form__container">
			<div class="shell">
				<div class="form__holder">
					{%- if form.errors -%}
						<div class="form__errors">
							{{- form.errors | default_errors -}}
						</div><!-- /.form__errors -->
					{%- endif -%}

					<div class="form__body">
						<div class="form__row{{ error_password }}">
							<label for="field-customer-password" class="form__label">{{- 'customer.activate_account.password' | t -}}</label>

							<div class="form__controls">
								<input type="password" class="field" name="customer[password]" id="field-customer-password" value="" placeholder="{{- 'customer.activate_account.password' | t -}}" >
							</div><!-- /.form__controls -->
						</div><!-- /.form__row -->

						<div class="form__row{{- error_password -}}">
							<label for="field-customer-password-confirm" class="form__label">{{- 'customer.activate_account.password_confirm' | t -}}</label>

							<div class="form__controls">
								<input type="password" class="field" name="customer[password_confirmation]" id="field-customer-password-confirm" value="" placeholder="{{- 'customer.activate_account.password_confirm' | t -}}" >
							</div><!-- /.form__controls -->
						</div><!-- /.form__row -->
					</div><!-- /.form__body -->

					<div class="form__actions">
						<ul>
							<li>
								<button type="submit" class="form__btn btn btn--xlarge">
									{{- 'customer.activate_account.submit' | t -}}
								</button>
							</li>

							<li>
								<button type="submit" name="decline" class="form__btn btn form__btn--cancel btn--cancel btn--xlarge">
									{{- 'customer.activate_account.cancel' | t -}}
								</button>
							</li>
						</ul>
					</div><!-- /.form__actions -->
				</div><!-- /.form__holder -->
			</div><!-- /.shell -->
		</div><!-- /.form__container -->
	{%- endform -%}
</div><!-- /.form -->
