{%- assign _section = section.settings -%}
{%- assign _blocks = section.blocks -%}
{%- assign items_html = '' -%}

{%- if _blocks.size > 0 -%}
{%- for block in _blocks -%}
{%- assign _block = block.settings -%}
{%- assign block_image = _block.image -%}
{%- assign block_link = _block.link -%}

{%- if block_image != blank -%}
{%- capture items_html -%}
{{ items_html }}

<li>
  <div>
    {%- if block_link != blank -%}
    <a href="{{ block_link }}" aria-label="{% if block_image.alt != blank %}{{ block_image.alt }}{% else %}Visit logo {{ forloop.index }}{% endif %}"></a>
    {%- endif -%}
    {% assign old_url =  block_image | img_url: 'master' %}
    {% capture imageboss_url %}{% include 'imageboss' src:old_url, operation: 'width', size: '100', options: 'dpr:2' %}{% endcapture %}
    <img src="{{ imageboss_url }}" alt="{% if block_image.alt != blank %}{{ block_image.alt }}{% else %}Logo {{ forloop.index }}{% endif %}" loading="lazy">
  </div>
</li>
{%- endcapture -%}
{%- endif -%}
{%- endfor -%}
{%- endif -%}

{%- if items_html != '' -%}
<section class="section section--logos">
  <div class="shell">
    <div class="section__body">
      <div class="section__inner">
        <ul class="list-logos">
          {{ items_html }}
        </ul><!-- /.list-logos -->
      </div><!-- /.section__inner -->
    </div><!-- /.section__body -->
  </div><!-- /.shell -->
</section><!-- /.section -->
{%- endif -%}

{% schema %}
{
  "name": "Section Logos",
  "blocks": [
  {
    "type": "logo",
    "name": "Logo",
    "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    }
    ]
  }
  ],
  "presets": [
  {
    "name": "Section Logos"
  }
  ]
}
{% endschema %}
